body
{
	background-color: darkseagreen;
}
h1
{
	color: white;
	font-family: times new roman;
	text-align: center;
	font-size: 50px;
}
h2
{
	color: white;
	font-family: times new roman;
	text-align: center;
	font-size: 30px;
}
p
{
	color: white;
	font-family: arial;
	text-align: center;
	line-height: 1.5;
	font-size: 20px;
}