body
{
	background-color: green;
	color: white;
	font-family: arial;
	text-align: center;
	font-size: 20px;
}
h1
{
	color: white;
	font-family: comic sans ms;
	text-align: center;
	font-size: 35px;
}
h2
{
	color: white;
	font-family: comic sans ms;
	text-align: center;
	font-size: 35px;
}
ul
{
	color: white;
	font-family: arial;
	text-align: center;
	font-size: 20px;
}
body
{
	background-image: url("image/green.jpg");
}
